*,
*:after,
*:before {
    box-sizing: border-box;
    user-select: none;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.overflow-hidden {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

html {
    // @extend %cover;
    height: auto;
    width: 100%;
    background: #211d20;
    color: white;
    font-size: calc(100vw / 1440 * 10);
    line-height: 1;
    overflow-x: hidden;
    // position: fixed;

    // @include media('<phone') {
    //     font-size: calc(100vw / 750 * 10);
    // }
}

body {
    // @extend %cover;

    @extend %description-18;
    // position: relative;
    font-family: $font-poppins;
    // position: fixed;
}

a {
    color: inherit;
    outline: none;
    text-decoration: none;
    pointer-events: auto;
}

// canvas {
//     @extend %cover;
//     pointer-events: none;
//     position: fixed;
//     // position: relative;
//     // z-index: z('canvas');
// }

button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    outline: none;
}

img {
    // opacity: 0;
    // opacity: 0;

    transition: opacity 0.4s ease;
    vertical-align: middle;

    &.loaded {
        opacity: 1;
    }
}

.content {
    // @extend %cover;
    overflow: hidden;
}

[data-animation="label"],
[data-animation="paragraph"],
[data-animation="wonder"],
[data-animation="animTitle"],
[data-animation="wonderParagraph"],
[data-animation="title"] {
    span {
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
    }
}

[data-animation="button"] {
    display: inline-block;
    position: relative;
    white-space: nowrap;

    span {
        display: inline-block;
        transform-origin: center center 0.5em;
        vertical-align: middle;
    }
}

[data-animation="link"] {
    display: inline-block;
    position: relative;
    white-space: nowrap;

    span {
        display: inline-block;
        transform-origin: center center 0.5em;
        vertical-align: middle;
    }
}